.blog-container ul {
    margin: 0;
    padding: 0;
    list-style: none none;
}
.blog-container .post-container {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-bottom: 20px;
}
.post-container_content {
    padding: 20px;
}
.post-container_content .post-meta {
    display: flex;
    margin-bottom: 15px;
}
.post-container_content .post-meta .meta-element {
    flex: 50%;
}
.post-container_content .post-meta .right-text {
    text-align: right;
}
.blog-container .post-container .post-image {
    min-height: 200px;
    background: #ccc;
}
